.App {
    display: flex;
    flex-direction: column;
}
/* Styles for the homepage */
body {
    font-family: 'Comic Sans MS', cursive, sans-serif; /* Fun and playful font */
    background-color: #8A9EA0; /* Light gray background */
    padding: '30px';
    padding-bottom: 50px;
  }
  
  #welcome-message {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
    margin: 40px;
    color: black; /* Reddish-orange color for the welcome message */
  }
  
  label {
    font-size: 18px;
    color: black; /* Dark gray color for labels */
  }
  